<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>596050427918-nlcss5u1muff8it0q5e2m6eteogoceoq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.596050427918-nlcss5u1muff8it0q5e2m6eteogoceoq</string>
	<key>API_KEY</key>
	<string>AIzaSyBxNge76cqKxVO870aYc-FrSOUejYiTyVg</string>
	<key>GCM_SENDER_ID</key>
	<string>596050427918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lateam.tutor</string>
	<key>PROJECT_ID</key>
	<string>iotmanager-7e315</string>
	<key>STORAGE_BUCKET</key>
	<string>iotmanager-7e315.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596050427918:ios:e37889ba339bc34d</string>
	<key>DATABASE_URL</key>
	<string>https://iotmanager-7e315.firebaseio.com</string>
</dict>
</plist>